<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
</head>
<body>
    <h1>Lista de Livros</h1>
    <input type="submit" onclick="location.href = '{% url biblioteca:create %}'" value="Adicionar Livro">
    <ul>
        {% for livro in object_list %}
        <li>{{ livro.title }} - <a href="{% url 'biblioteca:update' pk=livro.id %}">Editar</a>
            <a href="{% url 'biblioteca:detail' pk=livro.id %}">Visualizar</a></li>
            <a href="{% url 'biblioteca:delete' pk=livro.id %}">Apagar</a></li>
        </li>
        {% endfor %}
    </ul>
</body>
</html>