<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Livro</title>
</head>
<body>
Tem certeza de que deseja apagar o cliente '{{ object.title }}' ?
<form action="." method="post">
    {% csrf_token %}
    <input type="submit" value="Sim, desejo excluir">
    <input type="reset" onclick="location.href= '{% url biblioteca:list %}'" value="Não quero apagar mais">

</form>
</body>
</html>